hr.star-primary{
border-color: #57BC90;
}
hr.star-primary:after{
color: #57BC90;
}
hr.star-light:after{
background-color: #57BC90;
}
li.page-scroll.active{
background-color:#000000;
}
::placeholder {
  font-color:white;
}
