<!-- Skills Section -->
    <section id="skills" style="background-color:white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style="color:#57BC90;">Skills</h2>
                    <hr class="star-primary">
                </div>
            </div>
	    <div class="row">
		<div class="col-lg-12 text-center">
                <div class="col-sm-4">
	            <i class="fa fa-laptop" style="font-size:24px"></i>
		    <h3 style="color:#57BC90;">CODE</h3>
		    <p>I've developed projects in a variety of langauges like Java, C#, C++, Javascript, and Ruby. My skills and experiences are diverse enough that I can pick up any tech stack and be a valuable contributor to your project.</p>
		</div>
		<div class="col-sm-4">
		    <i class="fa fa-wrench" style="font-size:24px"></i>
		    <h3 style="color:#57BC90;">TOOLS</h3>
		    <p>A developer needs tools and I've used them to build games, automate builds, and contribute to multi person projects. Some of note are Unity, Jenkins, Chef, and Github.</p>
		</div>
		<div class="col-sm-4">
		    <i class="fa fa-book" style="font-size:24px"></i>
		    <h3 style="color:#57BC90;">KNOWLEDGE</h3>
		    <p>I live to learn. Developing myself to learn more than the basic requirements of the job is integral to my success. I have the maturity and knowledge to independtly tackle a problem without using outside advice as a crutch.</p> 
		</div>
		</div>
	    </div>
	</div>
    </section>


